body{
    font-family: Calibri, sans-serif;
    background-color: #00b078; /*ecfff9*/
    width: 99%;
}

body a{
    color: white;
    text-decoration: none;
}

hr{
    color: white;
}

header{
    background-color: #00b078;
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
}

#cpnv{
    height: 70px;
}

#vaud{
    height: 75px;
    margin-left: auto;
    margin-right: 0px;
}
h2, h3, h4, h5, h6 {
    color: #006d4a;
}

header h1 {
    color: #2d2b2b;
    align-self: center;
    margin: auto;
}

ul, li {
  padding:0;
  margin:0 0 0 10px;
}

table {
    background-color: #006d4a; /*006d4a*/
    width:80%;
    /*border: 2px black solid;*/
    margin:0 auto;
    border-collapse: collapse;
    color: white;
}

table a{
    color: white;
    text-decoration: underline;
}

th{
    background-color:  #003b28;
    /*color: white;*/
    border-bottom: 2px black solid;
}

th a{
    text-decoration: none;
}

tr{
    border-bottom: 1px black solid;
}

tr:last-child{
    border-bottom: none;
}

td{
    padding: 1.5%;
}


footer {
    border-top-style: double;
    border-top-color: red;
    border-top-width: 7px;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;

    margin-top: 25px;

    display: flex;
}

#signature{
    margin-right: 55px;
    margin-left: auto;
}

#signature a{
    color: #006d4a;
}

.link{
  display: flex;
  background-color: #2d2d2d;
  height: 45px;
  width: auto;
  padding: 5px;
  /*box-shadow: 0px 2px rgba(0, 0, 0, 0.5);*/
  box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.70), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15px;
  margin-top: 5px;
}

.link a{
  height: 100%;
  width: 100%;
  display: flex;
}

.text-link{
  margin: auto;
  color: white;
  font-size: 20px;
  font-family: serif;
  font-weight: 600;
}
